# Environment files
.env

# Local Terraform directories
terraform/.terraform/
terraform/terraform.tfstate
terraform/terraform.tfstate.backup
terraform/*.tfvars
terraform/.terraform.lock.hcl
terraform/errored.tfstate

# Ignore Python compiled files and directories
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore Docker build files
Dockerfile.log

# VS code created files
Assets/Images/.idea/