aiohttp==3.9.1 ; python_full_version == "3.11.6"
aiosignal==1.3.1 ; python_full_version == "3.11.6"
altair==5.1.2 ; python_full_version == "3.11.6"
annotated-types==0.6.0 ; python_full_version == "3.11.6"
antlr4-python3-runtime==4.9.3 ; python_full_version == "3.11.6"
anyio==3.7.1 ; python_full_version == "3.11.6"
asn1crypto==1.5.1 ; python_full_version == "3.11.6"
attrs==23.1.0 ; python_full_version == "3.11.6"
azure-ai-textanalytics==5.3.0 ; python_full_version == "3.11.6"
azure-cognitiveservices-vision-computervision==0.9.0 ; python_full_version == "3.11.6"
azure-common==1.1.28 ; python_full_version == "3.11.6"
azure-core==1.29.5 ; python_full_version == "3.11.6"
azure-cosmos==4.5.1 ; python_full_version == "3.11.6"
azure-storage-blob==12.19.0 ; python_full_version == "3.11.6"
backoff==2.2.1 ; python_full_version == "3.11.6"
beautifulsoup4==4.12.2 ; python_full_version == "3.11.6"
blinker==1.7.0 ; python_full_version == "3.11.6"
cachetools==5.3.2 ; python_full_version == "3.11.6"
certifi==2023.11.17 ; python_full_version == "3.11.6"
cffi==1.16.0 ; python_full_version == "3.11.6"
chardet==5.2.0 ; python_full_version == "3.11.6"
charset-normalizer==3.3.2 ; python_full_version == "3.11.6"
click==8.1.7 ; python_full_version == "3.11.6"
colorama==0.4.6 ; platform_system == "Windows" and python_full_version == "3.11.6"
coloredlogs==15.0.1 ; python_full_version == "3.11.6"
contourpy==1.2.0 ; python_full_version == "3.11.6"
cryptography==41.0.5 ; python_full_version == "3.11.6"
cycler==0.12.1 ; python_full_version == "3.11.6"
dataclasses-json==0.6.3 ; python_full_version == "3.11.6"
deprecated==1.2.14 ; python_full_version == "3.11.6"
distro==1.8.0 ; python_full_version == "3.11.6"
effdet==0.4.1 ; python_full_version == "3.11.6"
emoji==2.8.0 ; python_full_version == "3.11.6"
filelock==3.13.1 ; python_full_version == "3.11.6"
filetype==1.2.0 ; python_full_version == "3.11.6"
flatbuffers==23.5.26 ; python_full_version == "3.11.6"
fonttools==4.46.0 ; python_full_version == "3.11.6"
frozenlist==1.4.0 ; python_full_version == "3.11.6"
fsspec==2023.10.0 ; python_full_version == "3.11.6"
fuzzywuzzy==0.18.0 ; python_full_version == "3.11.6"
gitdb==4.0.11 ; python_full_version == "3.11.6"
gitpython==3.1.40 ; python_full_version == "3.11.6"
greenlet==3.0.1 ; platform_machine == "aarch64" and python_full_version == "3.11.6" or platform_machine == "ppc64le" and python_full_version == "3.11.6" or platform_machine == "x86_64" and python_full_version == "3.11.6" or platform_machine == "amd64" and python_full_version == "3.11.6" or platform_machine == "AMD64" and python_full_version == "3.11.6" or platform_machine == "win32" and python_full_version == "3.11.6" or platform_machine == "WIN32" and python_full_version == "3.11.6"
grpcio-tools==1.59.3 ; python_full_version == "3.11.6"
grpcio==1.59.3 ; python_full_version == "3.11.6"
h11==0.14.0 ; python_full_version == "3.11.6"
h2==4.1.0 ; python_full_version == "3.11.6"
hpack==4.0.0 ; python_full_version == "3.11.6"
httpcore==1.0.2 ; python_full_version == "3.11.6"
httpx==0.25.2 ; python_full_version == "3.11.6"
httpx[http2]==0.25.2 ; python_full_version == "3.11.6"
huggingface-hub==0.19.4 ; python_full_version == "3.11.6"
humanfriendly==10.0 ; python_full_version == "3.11.6"
hyperframe==6.0.1 ; python_full_version == "3.11.6"
idna==3.6 ; python_full_version == "3.11.6"
importlib-metadata==6.8.0 ; python_full_version == "3.11.6"
iopath==0.1.10 ; python_full_version == "3.11.6"
isodate==0.6.1 ; python_full_version == "3.11.6"
jinja2==3.1.2 ; python_full_version == "3.11.6"
joblib==1.3.2 ; python_full_version == "3.11.6"
jsonpatch==1.33 ; python_full_version == "3.11.6"
jsonpointer==2.4 ; python_full_version == "3.11.6"
jsonschema-specifications==2023.11.1 ; python_full_version == "3.11.6"
jsonschema==4.20.0 ; python_full_version == "3.11.6"
kiwisolver==1.4.5 ; python_full_version == "3.11.6"
langchain-core==0.0.8 ; python_full_version == "3.11.6"
langchain==0.0.344 ; python_full_version == "3.11.6"
langdetect==1.0.9 ; python_full_version == "3.11.6"
langsmith==0.0.68 ; python_full_version == "3.11.6"
layoutparser[layoutmodels,tesseract]==0.3.4 ; python_full_version == "3.11.6"
levenshtein==0.23.0 ; python_full_version == "3.11.6"
lxml==4.9.3 ; python_full_version == "3.11.6"
markdown-it-py==3.0.0 ; python_full_version == "3.11.6"
markupsafe==2.1.3 ; python_full_version == "3.11.6"
marshmallow==3.20.1 ; python_full_version == "3.11.6"
matplotlib==3.8.2 ; python_full_version == "3.11.6"
mdurl==0.1.2 ; python_full_version == "3.11.6"
mpmath==1.3.0 ; python_full_version == "3.11.6"
msrest==0.7.1 ; python_full_version == "3.11.6"
multidict==6.0.4 ; python_full_version == "3.11.6"
mypy-extensions==1.0.0 ; python_full_version == "3.11.6"
networkx==3.2.1 ; python_full_version == "3.11.6"
nltk==3.8.1 ; python_full_version == "3.11.6"
numpy==1.26.2 ; python_full_version == "3.11.6"
nvidia-cublas-cu12==12.1.3.1 ; platform_system == "Linux" and platform_machine == "x86_64" and python_full_version == "3.11.6"
nvidia-cuda-cupti-cu12==12.1.105 ; platform_system == "Linux" and platform_machine == "x86_64" and python_full_version == "3.11.6"
nvidia-cuda-nvrtc-cu12==12.1.105 ; platform_system == "Linux" and platform_machine == "x86_64" and python_full_version == "3.11.6"
nvidia-cuda-runtime-cu12==12.1.105 ; platform_system == "Linux" and platform_machine == "x86_64" and python_full_version == "3.11.6"
nvidia-cudnn-cu12==8.9.2.26 ; platform_system == "Linux" and platform_machine == "x86_64" and python_full_version == "3.11.6"
nvidia-cufft-cu12==11.0.2.54 ; platform_system == "Linux" and platform_machine == "x86_64" and python_full_version == "3.11.6"
nvidia-curand-cu12==10.3.2.106 ; platform_system == "Linux" and platform_machine == "x86_64" and python_full_version == "3.11.6"
nvidia-cusolver-cu12==11.4.5.107 ; platform_system == "Linux" and platform_machine == "x86_64" and python_full_version == "3.11.6"
nvidia-cusparse-cu12==12.1.0.106 ; platform_system == "Linux" and platform_machine == "x86_64" and python_full_version == "3.11.6"
nvidia-nccl-cu12==2.18.1 ; platform_system == "Linux" and platform_machine == "x86_64" and python_full_version == "3.11.6"
nvidia-nvjitlink-cu12==12.3.101 ; platform_system == "Linux" and platform_machine == "x86_64" and python_full_version == "3.11.6"
nvidia-nvtx-cu12==12.1.105 ; platform_system == "Linux" and platform_machine == "x86_64" and python_full_version == "3.11.6"
oauthlib==3.2.2 ; python_full_version == "3.11.6"
omegaconf==2.3.0 ; python_full_version == "3.11.6"
onnx==1.15.0 ; python_full_version == "3.11.6"
onnxruntime==1.15.1 ; python_full_version == "3.11.6"
openai[embeddings]==1.3.5 ; python_full_version == "3.11.6"
opencv-python-headless==4.8.1.78 ; python_full_version == "3.11.6"
opencv-python==4.8.1.78 ; python_full_version == "3.11.6"
packaging==23.2 ; python_full_version == "3.11.6"
pandas==2.0.3 ; python_full_version == "3.11.6"
pdf2image==1.16.3 ; python_full_version == "3.11.6"
pdfminer-six==20221105 ; python_full_version == "3.11.6"
pdfplumber==0.10.3 ; python_full_version == "3.11.6"
pikepdf==8.7.1 ; python_full_version == "3.11.6"
pillow==10.1.0 ; python_full_version == "3.11.6"
platformdirs==3.11.0 ; python_full_version == "3.11.6"
portalocker==2.8.2 ; python_full_version == "3.11.6"
protobuf==4.25.1 ; python_full_version == "3.11.6"
psycopg2-binary==2.9.9 ; python_full_version == "3.11.6"
pyarrow==14.0.1 ; python_full_version == "3.11.6"
pycocotools==2.0.7 ; python_full_version == "3.11.6"
pycparser==2.21 ; python_full_version == "3.11.6"
pydantic-core==2.14.5 ; python_full_version == "3.11.6"
pydantic==2.5.2 ; python_full_version == "3.11.6"
pydeck==0.8.1b0 ; python_full_version == "3.11.6"
pygments==2.17.2 ; python_full_version == "3.11.6"
pyjwt==2.8.0 ; python_full_version == "3.11.6"
pyopenssl==23.3.0 ; python_full_version == "3.11.6"
pyparsing==3.1.1 ; python_full_version == "3.11.6"
pypdf==3.17.1 ; python_full_version == "3.11.6"
pypdfium2==4.24.0 ; python_full_version == "3.11.6"
pyreadline3==3.4.1 ; sys_platform == "win32" and python_full_version == "3.11.6"
pytesseract==0.3.10 ; python_full_version == "3.11.6"
python-dateutil==2.8.2 ; python_full_version == "3.11.6"
python-dotenv==1.0.0 ; python_full_version == "3.11.6"
python-iso639==2023.6.15 ; python_full_version == "3.11.6"
python-levenshtein==0.23.0 ; python_full_version == "3.11.6"
python-magic==0.4.27 ; python_full_version == "3.11.6"
python-multipart==0.0.6 ; python_full_version == "3.11.6"
pytz==2023.3.post1 ; python_full_version == "3.11.6"
pywin32==306 ; platform_system == "Windows" and python_full_version == "3.11.6"
pyyaml==6.0.1 ; python_full_version == "3.11.6"
qdrant-client==1.6.9 ; python_full_version == "3.11.6"
rapidfuzz==3.5.2 ; python_full_version == "3.11.6"
referencing==0.31.0 ; python_full_version == "3.11.6"
regex==2023.10.3 ; python_full_version == "3.11.6"
requests-oauthlib==1.3.1 ; python_full_version == "3.11.6"
requests==2.31.0 ; python_full_version == "3.11.6"
rich==13.7.0 ; python_full_version == "3.11.6"
rpds-py==0.13.1 ; python_full_version == "3.11.6"
safetensors==0.4.1 ; python_full_version == "3.11.6"
scipy==1.11.4 ; python_full_version == "3.11.6"
setuptools==69.0.2 ; python_full_version == "3.11.6"
six==1.16.0 ; python_full_version == "3.11.6"
smmap==5.0.1 ; python_full_version == "3.11.6"
sniffio==1.3.0 ; python_full_version == "3.11.6"
snowflake-connector-python[pandas]==3.5.0 ; python_full_version == "3.11.6"
sortedcontainers==2.4.0 ; python_full_version == "3.11.6"
soupsieve==2.5 ; python_full_version == "3.11.6"
sqlalchemy==2.0.23 ; python_full_version == "3.11.6"
streamlit==1.28.2 ; python_full_version == "3.11.6"
sympy==1.12 ; python_full_version == "3.11.6"
tabulate==0.9.0 ; python_full_version == "3.11.6"
tenacity==8.2.3 ; python_full_version == "3.11.6"
tiktoken==0.5.1 ; python_full_version == "3.11.6"
timm==0.9.12 ; python_full_version == "3.11.6"
tokenizers==0.15.0 ; python_full_version == "3.11.6"
toml==0.10.2 ; python_full_version == "3.11.6"
tomlkit==0.12.3 ; python_full_version == "3.11.6"
toolz==0.12.0 ; python_full_version == "3.11.6"
torch==2.1.1 ; python_full_version == "3.11.6"
torchvision==0.16.1 ; python_full_version == "3.11.6"
tornado==6.3.3 ; python_full_version == "3.11.6"
tqdm==4.66.1 ; python_full_version == "3.11.6"
transformers==4.35.2 ; python_full_version == "3.11.6"
triton==2.1.0 ; platform_system == "Linux" and platform_machine == "x86_64" and python_full_version == "3.11.6"
typing-extensions==4.8.0 ; python_full_version == "3.11.6"
typing-inspect==0.9.0 ; python_full_version == "3.11.6"
tzdata==2023.3 ; python_full_version == "3.11.6"
tzlocal==5.2 ; python_full_version == "3.11.6"
unstructured-inference==0.7.15 ; python_full_version == "3.11.6"
unstructured-pytesseract==0.3.12 ; python_full_version == "3.11.6"
unstructured[pdf]==0.11.2 ; python_full_version == "3.11.6"
urllib3==1.26.18 ; python_full_version == "3.11.6"
validators==0.22.0 ; python_full_version == "3.11.6"
watchdog==3.0.0 ; platform_system != "Darwin" and python_full_version == "3.11.6"
wrapt==1.16.0 ; python_full_version == "3.11.6"
yarl==1.9.3 ; python_full_version == "3.11.6"
zipp==3.17.0 ; python_full_version == "3.11.6"
